- content_for(:head) do
  %script{type: 'text/javascript', src: "/charts/new4.js"}
  %script{src: "https://d3js.org/d3-hierarchy.v1.min.js"}
  %script{src: "http://d3js.org/d3.interpolate-zoom.v0.min.js"}
  :css
    #logTransformGroup, #densityGroup, #apdexTGroup, #filterGroup, #attrGroup {
      display: none;
    }


  :javascript
    $data.file = "#{@file}";
    $data.width = 800;
    $data.height = 200;
    $data.yMax = #{@y_max};
    $data.density = 30;
    $data.apdex_t = #{@apdex_t};
    $data.measure = "frontend";
    $data.filter = "#{@filter_label}";
    $data.primary_dim = "#{@primary_dim}";
    $data.dimensions = #{@dimensions.to_json};
    $data.only = "#{@only ? '1' : '0'}";

.row
  #display.span12
    %p#readout
    

:javascript
  
  $data.dispatch.on("reloadData.traffic", function(switchedFile)  {
       d3.json("/data/filtered/"+$data.file + "?" +
        "only=" + $data.only + "&" +
        "filter=" + $data.filter, function(error, json) {
         header = json.shift(); // remove the header row
         dimensionIndex = header.indexOf($data.primary_dim);
         updateTraffic(error, json, d3.select("#display"), dimensionIndex);
       });
  });
  initTraffic(d3.select("#display"));

  
  $data.dispatch.reloadData();
