- content_for(:head) do
  %script{type: 'text/javascript', src: "/charts/new5.js"}
  %script{src: "https://d3js.org/d3.v3.min.js"}
  %script{src: "https://d3js.org/d3-hierarchy.v1.min.js"}
  %script{src: "http://d3js.org/d3.interpolate-zoom.v0.min.js"}
  :css
    # logTransformGroup, #densityGroup, #apdexTGroup, #filterGroup, #attrGroup {
      display: none;
    }
    body {
        overflow: hidden;
        margin: 0;
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica;
    }

    .footer {
        z-index: 1;
        display: block;
        font-size: 26px;
        font-weight: 200;
        text-shadow: 0 1px 0 #fff;
    }

    svg {
        overflow: hidden;
    }

    rect {
        pointer-events: all;
        cursor: pointer;
        stroke: #EEEEEE;
    }

    .chart {
        display: block;
        margin: auto;
    }

    .parent .label {
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .labelbody {
        background: transparent;
    }

    .label {
        margin: 2px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .child .label {
        white-space: pre-wrap;
        text-align: center;
        text-overflow: ellipsis;
    }

    .cell {
        font-size: 11px;
        cursor: pointer
    }


  :javascript
    // Many of these are artifacts of the old animation.  Not sure which are referenced.
    $data.file = "#{@file}";
    $data.width = 800;
    $data.height = 200;
    $data.yMax = #{@y_max};
    $data.density = 30;
    $data.apdex_t = #{@apdex_t};
    $data.measure = "duration";
    $data.filter = "#{@filter_label}";
    $data.primary_dim = "#{@primary_dim}";
    $data.dimensions = #{@dimensions.to_json};
    $data.only = "#{@only ? '1' : '0'}";

.row
  #display.span12
    %p#readout
.feature{:id => "feature"}
    

:javascript
  
  $data.dispatch.on("reloadData.traffic", function(switchedFile)  {
       d3.json("/data/filtered/"+$data.file + "?only=" + $data.only + "&filter=" + $data.filter, function(error, json) {
         header = json.shift(); // remove the header row
         dimensionIndex = header.indexOf($data.primary_dim);
         var div = d3.select("#display");
         setTimeout(function run() {
            updateTraffic(json);
            setTimeout(run, 1000);
        }, 1000);

         updateTraffic(json);
       });
  });
  initTraffic(d3.select("#display"));

  $data.dispatch.reloadData();